.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/calibration_runs/*
!data/calibration_runs/.gitkeep
data/curated/*
!data/curated/.gitkeep
data/model_runs/*
!data/model_runs/.gitkeep

reports/*.html
reports/figures/*
!reports/figures/.gitkeep
!reports/figures/upv_version1/
!reports/figures/upv_version1/*.png
!reports/figures/upv_version1/*.pdf
